@model DHospital.ViewModel.Doctors

@{
    ViewBag.Title = "EditProfile";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/css/StyleSheet1.css" rel="stylesheet" />
<script src="~/JavaScript/JavaScript.js"></script>
<link href="~/css/pikaday.css" rel="stylesheet" />
<link href="~/css/theme.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/JavaScript/pikaday.js"></script>
<h2>EditProfile</h2>

<script type="text/javascript">
    $(document).ready(function () {
        var picker = new Pikaday(
            {
                field: document.getElementById('Date_of_Birth'),
                firstDay: 1,
                minDate: new Date('2000-01-01'),
                maxDate: new Date('2020-12-31'),
                yearRange: [2000, 2020],
                numberOfMonths: 1,
                theme: 'dark-theme'
            });
        var picker = new Pikaday(
            {
                field: document.getElementById('YOE'),
                firstDay: 1,
                minDate: new Date('2000-01-01'),
                maxDate: new Date('2020-12-31'),
                yearRange: [2000, 2020],
                numberOfMonths: 1,
                theme: 'dark-theme'
            });
    });
</script>

@using (Html.BeginForm("EditProfile", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">

        <img src="@Url.Action("UserPhotos","Doctor",new
                 { id=Model.Id})" style="width:150px;height:150px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 10px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
        <div class="container">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Upload Image</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse… <input type="file" id="ImageData" name="ImageData" accept=".png,.jpg,.jpeg,.gif,.tif">
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <img id='img-upload' />
                </div>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <h4>Doctors</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Doctor_FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Doctor_FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Doctor_FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UIN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UIN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UIN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YOE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YOE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YOE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_of_Birth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_of_Birth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_of_Birth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gendar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gendar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gendar, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.profile_photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.profile_photo, new { htmlAttributes = new { @class = "form-control", @type = "File" } })
                <input type="file" id="ImageData" name="ImageData" accept=".png,.jpg,.jpeg,.gif,.tif" />
                @Html.ValidationMessageFor(model => model.profile_photo, "", new { @class = "text-danger" })
            </div*@>

        @*</div>*@

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Doctor", new { id = Model.Id }, null)
</div>
